# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [2]:
s1=pd.Series(np.random.randint(1, high=5, size=100, dtype='l'))
s2=pd.Series(np.random.randint(1, high=4, size=100, dtype='l'))
s3=pd.Series(np.random.randint(10000, high=30000, size=100, dtype='l'))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [4]:
df = pd.concat([s1, s2, s3], axis=1)
df.head()

   0  1      2
0  2  2  16798
1  1  1  28804
2  1  2  21233
3  3  3  26415
4  4  3  19587

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [5]:
df.rename(columns = {0: 'bedrs', 1: 'bathrs', 2: 'price_sqr_meter'}, inplace=True)
df.head()

   bedrs  bathrs  price_sqr_meter
0      2       2            16798
1      1       1            28804
2      1       2            21233
3      3       3            26415
4      4       3            19587

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [7]:
bigcolumn = pd.concat([s1, s2, s3], axis=0)
print(type(bigcolumn))
bigcolumn = bigcolumn.to_frame()
print(type(bigcolumn))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

### Step 6. Ops it seems it is going only until index 99. Is it true?

In [9]:
print(bigcolumn.index)
len(bigcolumn)

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9,
            ...
            90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
           dtype='int64', length=300)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [11]:
bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn.index

RangeIndex(start=0, stop=300, step=1)