# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [11]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [4]:
cars1=pd.read_csv('cars1.csv')
cars2=pd.read_csv('cars2.csv')
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [12]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [15]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [21]:
print(cars1.columns)
print(cars2.columns)
cars=pd.concat([cars1,cars2],axis=0)
cars.shape

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car'],
      dtype='object')
Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car'],
      dtype='object')

(398, 9)

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [24]:
owners=np.random.randint(15000, high=73001, size=398, dtype='l')
owners

array([23271, 21608, 45289, 19051, 64161, 43346, 20492, 46200, 69227,
       17693, 18993, 18616, 59230, 45933, 37779, 38778, 40765, 41015,
       64097, 49949, 38490, 59556, 62490, 26371, 15709, 33445, 27812,
       16079, 23403, 59699, 37326, 72580, 57073, 42917, 16084, 40118,
       39178, 21582, 19942, 30312, 49969, 59491, 50077, 25614, 18865,
       63436, 65970, 43751, 17054, 32360, 33187, 68612, 27606, 52189,
       31427, 36291, 40403, 55758, 30220, 36785, 69949, 70984, 45168,
       33187, 22665, 30976, 21632, 70751, 41865, 34340, 41841, 45106,
       36663, 52687, 45595, 59996, 59267, 36002, 28187, 50089, 44339,
       40354, 48143, 48986, 15088, 54340, 68924, 26812, 53527, 28482,
       62819, 43464, 44003, 28780, 71680, 67494, 17290, 21039, 63298,
       50862, 26090, 64330, 30684, 21766, 72315, 18851, 22787, 26705,
       36200, 70540, 35446, 60527, 65233, 62288, 15725, 46609, 56142,
       45238, 69653, 30309, 25893, 55174, 47014, 35915, 39304, 43325,
       52961, 42532, 51129, 23330, 64897, 20322, 62634, 68672, 39507,
       43501, 62912, 15552, 21539, 40771, 37180, 71106, 38998, 69484,
       64809, 31334, 61980, 53851, 44635, 27331, 62988, 41022, 70473,
       33005, 58682, 32525, 17535, 34873, 26093, 17831, 35368, 49608,
       61623, 68863, 23707, 70470, 36939, 71461, 29969, 56553, 23416,
       39432, 55511, 28976, 26347, 27997, 45546, 47287, 53349, 39974,
       55473, 42808, 39878, 37789, 57695, 17580, 53623, 49866, 23360,
       65617, 35926, 50773, 60130, 66426, 15720, 50582, 72045, 40071,
       21662, 70259, 47124, 57863, 37170, 60782, 57317, 63802, 40362,
       67449, 22496, 69470, 46157, 52703, 24200, 30910, 71141, 38154,
       62733, 58497, 65034, 58376, 25308, 65925, 72922, 27838, 35112,
       55006, 21657, 61552, 15399, 24657, 28823, 71381, 60561, 52383,
       70489, 43063, 31287, 19019, 36381, 32732, 71317, 15186, 40055,
       52851, 46823, 38986, 35016, 66319, 48649, 45814, 67366, 25558,
       52407, 72414, 44690, 57062, 23261, 53400, 29691, 31197, 61096,
       21406, 60422, 40443, 17706, 63176, 22145, 68007, 19386, 42714,
       21205, 23539, 39740, 18696, 40567, 37497, 62038, 27924, 35515,
       71881, 46844, 18015, 32437, 25268, 16112, 44088, 39252, 61513,
       38204, 29615, 15130, 71063, 31755, 32156, 42282, 50533, 41209,
       68656, 53828, 71171, 35416, 50405, 36677, 34470, 16222, 70100,
       22327, 65853, 34672, 27095, 56788, 20421, 16702, 67838, 60922,
       56475, 63043, 43569, 54839, 48013, 31621, 40500, 36296, 35951,
       18835, 23985, 48579, 57859, 16809, 65359, 58277, 39423, 20071,
       45150, 34395, 72396, 19919, 40110, 37686, 63082, 63767, 29561,
       47334, 48789, 56791, 67104, 36858, 16471, 15182, 33517, 71982,
       57545, 24440, 29329, 38621, 44604, 48686, 31952, 15502, 32931,
       50727, 32290, 34375, 65012, 22881, 58494, 34418, 32517, 59643,
       64087, 60592, 26391, 37744, 70355, 30877, 62053, 47764, 22841,
       18317, 31337, 33210, 40669, 37081, 27633, 15468, 51465, 60326,
       71468, 19173, 21117, 61871, 51155, 52855, 57660, 57305, 68865,
       47164, 34092])

### Step 8. Add the column owners to cars

In [25]:
cars['owners']=owners