# Exercise 9: Which stocks move together?

In the previous exercise, you clustered companies by their daily stock price movements.  So which company have stock prices that tend to change in the same way?  Now inspect the cluster labels from your clustering to find out.

From the course _Transition to Data Science_. [Buy the entire course for just $10](https://www.udemy.com/transition-to-data-science-in-python/?couponCode=CLUSTER-NBS) for many more exercises and helpful video lectures.

**Step 1:** Load the data _(written for you)_.

In [1]:
import pandas as pd

fn = '../datasets/company-stock-movements-2010-2015-incl.csv'
stocks_df = pd.read_csv(fn, index_col=0)

**Step 2:** Run your code from the previous exercise _(filled in for you)_.

In [2]:
companies = list(stocks_df.index)
movements = stocks_df.values

from sklearn.preprocessing import Normalizer
from sklearn.cluster import KMeans
from sklearn.pipeline import make_pipeline

normalizer = Normalizer()
kmeans = KMeans(n_clusters=14)
pipeline = make_pipeline(normalizer, kmeans)
pipeline.fit(movements)

Pipeline(memory=None,
         steps=[('normalizer', Normalizer(copy=True, norm='l2')),
                ('kmeans',
                 KMeans(algorithm='auto', copy_x=True, init='k-means++',
                        max_iter=300, n_clusters=14, n_init=10, n_jobs=None,
                        precompute_distances='auto', random_state=None,
                        tol=0.0001, verbose=0))],
         verbose=False)

**Step 3:** Use the `.predict()` method of the pipeline to predict the labels for `movements`.

In [3]:
labels=pipeline.predict(movements)

**Step 4:** Align the cluster labels with the list of company names `companies` by creating a DataFrame `df` with `labels` and `companies` as columns.

In [4]:
import numpy as np
df=pd.DataFrame(np.array([labels,companies]).T,columns=['labels','companies'])

**Step 5:** Now display the DataFrame, sorted by cluster label.  To do this, use the `.sort_values()` method of `df` to sort the DataFrame by the `'labels'` column.

In [19]:
df.head()
df.sort_values(by=['labels'])

   labels                           companies
57      0                               Exxon
53      0                       Valero Energy
44      0                        Schlumberger
8       0                         Caterpillar
35      0                            Navistar
10      0                      ConocoPhillips
12      0                             Chevron
48      1                              Toyota
45      1                                Sony
7       1                               Canon
34      1                          Mitsubishi
21      1                               Honda
15      1                                Ford
59     10                               Yahoo
36     11                    Northrop Grumman
29     11                     Lookheed Martin
4      11                              Boeing
32     12                                  3M
58     12                               Xerox
13     12                   DuPont de Nemours
16     12                   General Electrics
20     12                          Home Depot
56     13                            Wal-Mart
25     13                   Johnson & Johnson
39     13                              Pfizer
1       2                                 AIG
3       2                    American express
55      2                         Wells Fargo
26      2                      JPMorgan Chase
18      2                       Goldman Sachs
5       2                     Bank of America
27      3                      Kimberly-Clark
28      3                           Coca Cola
41      3                       Philip Morris
40      3                      Procter Gamble
9       3                   Colgate-Palmolive
38      3                               Pepsi
33      4                           Microsoft
11      4                               Cisco
22      4                                  HP
14      4                                Dell
17      5                     Google/Alphabet
2       5                              Amazon
49      6                               Total
52      6                            Unilever
46      6                      Sanofi-Aventis
37      6                            Novartis
42      6                   Royal Dutch Shell
6       6            British American Tobacco
31      6                           McDonalds
30      6                          MasterCard
19      6                     GlaxoSmithKline
43      6                                 SAP
47      7                            Symantec
50      7  Taiwan Semiconductor Manufacturing
51      7                   Texas instruments
24      7                               Intel
23      7                                 IBM
0       8                               Apple
54      9                            Walgreen

**Great job!** Using k-means, you've discovered which companies stock prices move together on the stock exchange.